Package: com.brunonfl.wicellswitcher
Name: WiCellSwitcher
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 0.0.5
Architecture: iphoneos-arm
Description: Switch between Wi-Fi and Cellular the Smart Way!
Maintainer: Bruno Andrade <brubiluco@globo.com>
Author: Bruno Andrade <brubiluco@globo.com>
Section: Tweaks
